
.container {
    width: 500px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0 5px 70px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}

textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    resize: none;
}

.btn-primary {
    padding: 10px;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    padding: 10;
    background-color: #0069d9;
    border-color: #0062cc;
}