<div class="container">

    <h1>Ng For</h1>
    <button (click)="addPessoa()">Adiciona Pessoa</button>
    <button (click)="removePessoa()">Remove Pessoa</button>
    <hr />
    <table border="1" cellSpacing="0" width="30%">

        <tr>
            <td align="center"><b>Nome</b></td>
            <td align="center"><b>Idade</b></td>
        </tr>
        <tr *ngFor="let pessoaDaLista of listaPessoas" (click)="clickPessoa(pessoaDaLista)">
            <td>{{pessoaDaLista.nome}}</td>
            <td>{{pessoaDaLista.idade}}</td>
        </tr>
    </table>
    <br>
    <div *ngIf="nomeSelecionado != ''">
        <h2>{{nomeSelecionado}}</h2>
        <h2>{{idadeSelecionado}}</h2>
    </div>