<div class="container">
    <div class="microwave-panel">
        <h2>Microondas</h2>
       
        <div class="display">
          <p id="display">{{ displayTime }}</p>
        </div>
       
        <div class="buttons">
          <button (click)="updateTime('1')">1</button>
          <button (click)="updateTime('2')">2</button>
          <button (click)="updateTime('3')">3</button>
          <button (click)="updateTime('4')">4</button>
          <button (click)="updateTime('5')">5</button>
          <button (click)="updateTime('6')">6</button>
          <button (click)="updateTime('7')">7</button>
          <button (click)="updateTime('8')">8</button>
          <button (click)="updateTime('9')">9</button>
          <button (click)="updateTime('0')">0</button>
          <button (click)="updateTime('Start')">Iniciar</button>
          <button (click)="updateTime('Cancel')">Cancelar</button>
        </div>
      </div>
     
</div>