<nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="/bindings" routerLinkActive="linkSelectec"><li>Exemplo bindins</li></a>
        <a href="/imc" routerLinkActive="linkSelectec"><li>Calculradora IMC</li></a>
        <a href="/Ng-class" routerLinkActive="linkSelectec"><li>Ng Class</li></a>
        <a href="/ng-style" routerLinkActive="linkSelectec"><li>Ng Style</li></a>
        <a href="/ng-model" routerLinkActive="linkSelectec"><li>Ng Model</li></a>
        <a href="/ng-ff" routerLinkActive="linkSelectec"><li>Ng If</li></a>
        <a href="/ng-For" routerLinkActive="linkSelectec"><li>Ng For</li></a>
        <a href="/ng-switch" routerLinkActive="linkSelectec"><li>Ng Switch</li></a>
        <a href="/pipes" routerLinkActive="linkSelectec"><li>Pipes</li></a>
        <a href="/Microondas" routerLinkActive="linkSelectec"><li>Microondas</li></a>
      </ul>
    </div>
  </nav>