<nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a routerLink="/bindings" routerLinkActive="LinkActive"><li>Exemplo bindins</li></a>
        <a routerLink="/imc" routerLinkActive="LinkActive"><li>Calculradora IMC</li></a>
        <a routerLink="/Ng-class" routerLinkActive="LinkActive"><li>Ng Class</li></a>
        <a routerLink="/ng-style" routerLinkActive="LinkActive"><li>Ng Style</li></a>
        <a routerLink="/ng-model" routerLinkActive="LinkActive"><li>Ng Model</li></a>
        <a routerLink="/ng-ff" routerLinkActive="LinkActive"><li>Ng If</li></a>
        <a routerLink="/ng-For" routerLinkActive="LinkActive"><li>Ng For</li></a>
        <a routerLink="/ng-switch" routerLinkActive="LinkActive"><li>Ng Switch</li></a>
        <a routerLink="/pipes" routerLinkActive="LinkActive"><li>Pipes</li></a>
        <a routerLink="/Microondas" routerLinkActive="LinkActive"><li>Microondas</li></a>
      </ul>
    </div>
  </nav>  