<nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a routerLink="/bindings" routerLinkActive="linkActive"><li>Exemplo bindins</li></a>
        <a routerLink="/imc" routerLinkActive="linkActive"><li>Calculradora IMC</li></a>
        <a routerLink="/Ng-class" routerLinkActive="linkActive"><li>Ng Class</li></a>
        <a routerLink="/ng-style" routerLinkActive="linkActive"><li>Ng Style</li></a>
        <a routerLink="/ng-model" routerLinkActive="linkActive"><li>Ng Model</li></a>
        <a routerLink="/ng-ff" routerLinkActive="linkActive"><li>Ng If</li></a>
        <a routerLink="/ng-For" routerLinkActive="linkActive"><li>Ng For</li></a>
        <a routerLink="/ng-switch" routerLinkActive="linkActive"><li>Ng Switch</li></a>
        <a routerLink="/pipes" routerLinkActive="linkActive"><li>Pipes</li></a>
        <a routerLink="/Microondas" routerLinkActive="linkActive"><li>Microondas</li></a>
        <a routerLink="/pai-Filho" routerLinkActive="linkActive"><li>Pai Filho</li></a>
        <a routerLink="/filho-Pai" routerLinkActive="linkActive"><li>Filho Pai</li></a>
        <a routerLink="/agrupador" routerLinkActive="linkActive"><li>Agrupador</li></a>
        <a routerLink="/cp-table" routerLinkActive="linkActive"><li>Tela</li></a>
      </ul>
    </div>
  </nav>  